.carousel{
  margin-top: 100px;
}
h2{
    display: block;
    font-size: 2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
form{
  margin: 5%;
  display: flex;
  align-items: center;
  margin-left: 30%;
  border: 2px solid rgb(199, 199, 199);
  width: 600px;
  height: 600px;
}
fieldset{
  background-color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
}
.container{
  background-color: rgb(234, 248, 255);
}
::placeholder{
  text-align: center;
}
h4{
  text-align: center;
  margin-top: 30px;
}
input{
  width: 60%;
  border-radius: 5px;
  border: 1px solid rgb(199, 199, 199);
}
.file-btn{
  color: rgb(34, 34, 34);
  background-color: rgb(214, 214, 214);
}
.submit-btn{
  color: rgb(34, 34, 34);
  background-color: rgb(211, 214, 214);
}   
.t{
  font-size: 15px;
  font-weight: 250;
  text-align: left;
}
label{
  display: inline-block;
  margin-bottom: 0rem;
  margin-top: 0.25rem;
  text-align: center;
  font-size: 17px;
  font-weight: 350;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 25%;
  }
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #customers tr:nth-child(even)
  {
    background-color: #f2f2f2;
  }
  #customers tr:hover
  {
    background-color: #ddd;
  }
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04a7bd;
    color: white;
  }
  .reg>h5{
    color: blue;
  }